*{
    margin: 0;
    padding: 0;
}
.gy{
    background-image: url("./images/stb.jpg");
    background-size: cover;
}
.main {
    width: 100%;
    height: 100vh;
    background: #b364403b;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.key {
    height: 60px;
    width: 60px;
    border: 1.8px rgb(0, 0, 0) solid;
    border-radius: 0.2rem;
    background: rgb(179 146 50 / 29%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    padding: 1rem 0.8rem;
    text-shadow: 2px 3px 5px #615c5c;
    transition: all 0.07s;
}
.playing {
    transform: scale(1.2);
    border-color: rgb(165, 115, 7);
    box-shadow: 0px 0px 6px 3px rgb(91 69 21);
}
